@use 'reset';
@use 'hero';
@use 'components/infos_bar';
@use 'components/buttons';
@use 'event';
@use 'variaveis';

.container {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;

    @media (max-width: 640px){
        max-width: 80%;
    }

    @media (max-width: 1024px ) {
        max-width: 90%;
    }
}
